{% extends 'main.html' %}
{% load static %}

{% block main %}
<!-- book section -->
<section class="book_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Book A Table
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form_container">
          <form action="{% url 'book_table' %}" method="POST">
            {% csrf_token %}
            <div>
              <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" />
            </div>
            <div>
              <input type="text" class="form-control" id="number" name="number" placeholder="Phone Number" />
            </div>
            <div>
              <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" />
            </div>
            <div>
              <select class="form-control nice-select wide" id="person" name="person">
                <option value="">
                  How many persons?
                </option>
                <option value="2">
                  2
                </option>
                <option value="3">
                  3
                </option>
                <option value="4">
                  4
                </option>
                <option value="5">
                  5
                </option>
              </select>
            </div>
            <div>
              <input type="date" id="date" name="date" class="form-control">
            </div>
            <div class="btn_box">
              <button>
                Book Now
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="map_container ">
          <div id="googleMap"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end book section -->
{% endblock main %}