{% extends 'main.html' %}
{% load static %}

{% block main %}
<!-- about section -->

<section class="user_section layout_padding">
	<div class="container  ">
		<div class="row">
			<div class="col-md-6">
				<div class="heading_container">
					<h2>
						User Dashboard
					</h2>
				</div>
			</div>
		</div>
		<div class="user_dashboard">
			<div class="navigation">
				<ul>
					<li>
						<a href="#" id="title1">
							<span class="icons"><i class="fa fa-user" aria-hidden="true"></i></span>
							<span class="title">Profile</span>
						</a>
					</li>
					<li>
						<a href="#" id="title2">
							<span class="icons"><i class="fa fa-cart-plus" aria-hidden="true"></i></span>
							<span class="title">Orders</span>
						</a>
					</li>
					<li>
						<a href="#" id="title3">
							<span class="icons"><i class="far fa-money-bill-alt"></i></span>
							<span class="title">Payment</span>
						</a>
					</li>
					<li>
						<form action="{% url 'user' %}" method="POST">
							{% csrf_token %}
							<button name="sing_out" class="sing_out" value='1'>
								<span class="icons"><i class="fas fa-sign-in-alt"></i></span>
								<span class="title">Sign Out</span>
							</button>
						</form>
					</li>
				</ul>
			</div>
			<div class="user_data_section container col-sm-6">
				<div id="profile" style="color: aliceblue; ">
					<div class="user_profile_data">
						<div class="text-center col-sm-3">
							<img src="{% static 'images/User-Profile.png' %}" class="rounded" alt="User Profile">
						</div>
						<div class="user_name">
							<h2 class="user_name">{{ employees.First_Name }} {{ employees.Last_Name }}</h2>
							<span class="user_email">{{ employees.Email }}</span>
						</div>
						<div class="edit_section">
							<button id="edit_button">Edit</button>
						</div>
					</div>
					<hr>
					<div class="coins_section container">
						<div id="coins"> 
							<h5> Coins <h5>
						</div>
						<span>{{employees.Coins}}</span>
					</div>
					<div class="registration_btn">
                		<a href="{% url 'menu' %}">
                  			Utilize
                		</a>
              		</div>
				</div>
				<div id="order" class="active_data" style="color: aliceblue;">
					<div class="coins_section container">
						<div id="coins"> 
							<h5> Coins <h5>
						</div>
						<span>{{employees.Coins}}</span>
					</div>
					<div class="registration_btn">
                		<a href="{% url 'menu' %}">
                  			Add Coins
                		</a>
              		</div>
				</div>
				<div id="payment" class="active_data" style="color: aliceblue;">
					<div class="order_title">
						<h2>Order History</h2>
					</div>
					<div class="order_items">
						{% for Order in DataOfCard %}
						<div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
							<div class="mr-1"><img class="rounded" src="/media/{{ Order.Image }}" width="70"></div>
							<div class="d-flex flex-column align-items-center product-details"><span class="font-weight-bold">{{ Order.Name }}</span>
								<div class="d-flex flex-row product-desc">
									<div class="size mr-1"><span class="text-grey">Size:</span><span
											class="font-weight-bold">&nbsp;M</span></div>
									<div class="color"><span class="text-grey">Type:</span><span
											class="font-weight-bold">&nbsp;{{ Order.Type }}</span></div>
								</div>
							</div>
								<div class="d-flex flex-row align-items-center qty">
									<h5 class="text-grey mt-1 mr-1 ml-1">{{ Order.Quantity }}</h5>
								</div>
							<div>
								<h5 class="text-grey">₹{{ Order.Price }}</h5>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="toggle" onclick="toggleMenu();"></div>
		</div>
	</div>
</section>

<!-- end about section -->
{% endblock main %}